
/* This site uses the Hyde template, which was released 
 * under the MIT license by @mdo. Learn more at
 https://github.com/poole/hyde. */

/* CONTENTS
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
*/

/* Global resets */

html {
  font-family: "PT Sans", Helvetica, sans-serif;
  color: black;
}
@media (min-width: 48em) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

@font-face {
  font-family: "LeagueGothic";
  src: url("LeagueGothic-Regular.woff");
}
/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: black;
  background-color: white;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

figcaption {
  font-size: 0.5rem;
}

/* Sidebar links */
.sidebar a {
  color: black;
}

.sidebar a:hover {
  color: royalblue;
  text-decoration: none;
}

/* About section */
.sidebar-about h1 {
  margin-top: 0;
  font-family: 'Roboto Condensed', "Helvetica Neue", Verdana, sans-serif;
  font-weight: 300;
  font-size: 3rem;
  color: black;
}

.sidebar-about p {
  margin-top: 0;
  font-family: 'Roboto Condensed', "Helvetica Neue", Verdana, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: black;
}

.sidebar p {
  margin-top: 0;
  font-family: 'Roboto Condensed', "Helvetica Neue", Verdana, sans-serif;
  font-style: italic;
  font-size: 0.75rem;
  color: black;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
}
.sidebar-nav-item.active {
  font-weight: bold;
  color: royalblue;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}


/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 */

@media (min-width: 48em) {
  .layout-reverse .sidebar {
    left: auto;
    right: 0;
  }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem;
  }
}

@media (min-width: 64em) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
}

